html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: grey;
}

header {
    background-color: goldenrod;
    min-height: 10vh;
    color: white;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    align-content: center;
    font-size: x-large;
}

header h4 {
    margin-left: 1vw;
}